#services {
  background-color: #000000;
  padding-top: 50px;
  padding-bottom: 30px;
}

.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
  grid-gap: 30px;
  /* margin-top: 50px; */
}

.services-list div {
  background: linear-gradient(#a30051, #ff2e96);
  /* background-color: linear-gradient(#050a30, #281c2d); */
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  font-size: 13px;
  /* font-weight: 200; */
  border-radius: 30px;
  transition: background 0.5s, transform 0.5s;
}

.services-list div i {
  color: silver;
  font-size: 100px;
  margin-bottom: 10px;
}

.services-list div h5 {
  color: silver;

  font-size: 20px;
  text-align: center;
  /* font-weight: 500; */
  /* margin-bottom: 1px; */
}

.services-list div:hover {
  background: linear-gradient(#ff5cad, #75003a);
  transform: translateY(-10px);
}
